<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новинки у Clothica</title>
</head>

<body>
    <h1 style="color: blue">Привіт {{email}}!</h1>
    <p>Поспішаємо повідомити про новинки у нашому магазині. Завжди раді Вам!</p>
    <!-- тут посилання на головну сторінку сайту!!! -->
    <a href="{{link}}" style="color: blue; text-decoration: none;">Clothica</a>

    <hr />
    <small style=" color: #888;">Ви отримали цей лист, бо підписані на нашу розсилку 💌</small>

</body>

</html>